@using Microsoft.AspNet.Identity
@if( User.Identity.IsAuthenticated ) {
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview" id="navAccFolder">
            <a class="nav-link" id="navAcc">
                <i class="nav-icon fas fa-key"></i>
                <p>
                    @Html.Action("GetFullNameStandard", "Account")
                </p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview menu-open">

                <li class="nav-item">
                    @using( Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }) ) {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link" id="navAcc_Logout">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>Logout</p>
                        </a>
                    }
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Manage")" class="nav-link" id="navAcc_Manage">
                        <i class="nav-icon fas fa-cog" style="color:black !important;"></i>
                        <p style="color:black !important;">Manage Account</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
} else {
    <a href="@Url.Action("Login", "Account")" class="d-block">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex hide">
            <div class="image">
                <img class="fas fa-lock" />
            </div>
            <div class="info">
                Click to Login
            </div>
        </div>
    </a>
}