<li class="nav-item has-treeview" id="navHomeFolder">
    <a href="#" class="nav-link" id="navHome">
        <i class="nav-icon fas fa-home"></i>
        <p>
            Home
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home")" class="nav-link" id="navHome_Welcome">
                <i class="far fa-circle nav-icon"></i>
                <p>Welcome to Semplicita!</p>
            </a>
        </li>

        <li class="ui-menu-divider"><hr /></li>
    </ul>
</li>