@using Microsoft.AspNet.Identity
@if( User.Identity.IsAuthenticated ) {
    <div class="user-panel mt-3 pb-3 mb-3 d-flex hide">
        <div class="image">
            <img src="" class="img-circle elevation-2" alt="">
        </div>
        <div class="info">
            <a href="#" class="d-block">@User.Identity.GetUserName()</a>
        </div>
    </div>
} else {
    <a href="@Url.Action("Login", "Account")" class="d-block">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex hide">
            <div class="image">
                <img class="fas fa-lock" />
            </div>
            <div class="info">
                Click to Login
            </div>
        </div>
    </a>
}