<li class="nav-item has-treeview" id="navTicketsFolder">
    <a href="#" class="nav-link" id="navTickets">
        <i class="fas fa-project-diagram nav-icon"></i>
        <p>
            Projects
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Projects")" class="nav-link" id="navTickets">
                <i class="fas fa-user-tag nav-icon"></i>
                <p>Show Projects</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("New", "Projects")" class="nav-link" id="navTickets">
                <i class="fas fa-user-tag nav-icon"></i>
                <p>Create New Project</p>
            </a>
        </li>
        <li class="nav-item">
            <hr />
        </li>
    </ul>
</li>