@if( User.IsInRole("ServerAdmin") ) {
    <li class="nav-item has-treeview nav-sep-top" id="navAdminFolder">
        <a href="#" class="nav-link" id="navAdmin">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Server Administration
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav-treeview" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="@Url.Action("UserAllocation", "Admin")" class="nav-link" id="navAdmin_UserAlloc">
                    <i class="fas fa-cog nav-icon"></i>
                    <p>User Allocation</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("ProjectConfiguration", "Admin")" class="nav-link" id="navAdmin_Projects">
                    <i class="fas fa-project-diagram nav-icon"></i>
                    <p>Project Configuration</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Tickets", "Admin")" class="nav-link" id="navAdmin_Tickets">
                    <i class="fas fa-ticket-alt nav-icon"></i>
                    <p>Ticket Managment</p>
                </a>
            </li>

            <li class="ui-menu-divider"><hr /></li>
        </ul>
    </li>
}