<li class="nav-item has-treeview" id="navTicketsFolder">
    <a href="#" class="nav-link" id="navTickets">
        <i class="nav-icon fas fa-ticket-alt"></i>
        <p>
            Tickets
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home")" class="nav-link active" id="navTickets">
                <i class="far fa-user-tag nav-icon"></i>
                <p>Your Tickets</p>
            </a>
        </li>
        <li class="nav-item">
            <hr />
        </li>
    </ul>
</li>