@{
    ViewBag.Title = "Administration Quick Actions";
}

<div class="jumbotron">
    <h1>Server Administration</h1>
    <p class="lead">Jump to common actions here </p>
</div>

<div class="row">
    <!-- User Roles-->
    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">User Roles</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body">
            </div>

            <div class="card-footer">
            </div>
        </div>
    </div>

    <!-- Project Assignments -->
    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Project Assignment</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body">
            </div>

            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8">
    </div>
</div>