@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Orginize - Share - Solve.</h1><br />
    <p class="lead">Thank you for choosing Simplicita taking your bug / issue tracking to the next level.</p>
    <p class="lead">To learn more, click here to access documentation.</p>
    <p>Please choose from the available actions below:</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Create New Ticket</h4>
            </div>
            <div class="card-body">
                <p></p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-block" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create Ticket &raquo;</a>
            </div>
        </div>
    </div>

    @if( User.IsInRole("ProjectAdmin") || User.IsInRole("ServerAdmin") ) {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Tickets & Projects</h4>
                </div>
                <div class="card-body">
                    <p></p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Projects")">Manage Projects &raquo;</a>
                </div>
            </div>
        </div>
    }

    @if( User.IsInRole("ServerAdmin") ) {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Manage Server</h4>
                </div>
                <div class="card-body">
                    <p></p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-block" href="https://go.microsoft.com/fwlink/?LinkId=301866">Tickets Dashboard &raquo;</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>View Tickets</h4>
            </div>
            <div class="card-body">
                <p></p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-block" href="https://go.microsoft.com/fwlink/?LinkId=301865">View Tickets &raquo;</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#navHomeFolder").addClass("menu-open");

        $("#navHomeFolder").addClass("active");
        $("#navHome_Welcome").addClass("active");
    </script>
}