@{
    ViewBag.Title = "Forgot Password: Email Sent";
}
<div class="jumbotron">
    <h1>Password Reset Request Sent!</h1>
    @if( ViewBag.EmailSentTo != null ) {
        <p class="lead">Please check the inbox of '@ViewBag.EmailSentTo' for a link.</p>
    } else {
        <p class="lead">Please check the inbox of the email used to register.</p>
    }

</div>

<p>Please check your email to reset your password. The email will contain a private link that will authenicate you, and allow you to change your password.</p>
