@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="jumbotron">
    <h1>Password Reset Email Sent!</h1>
    @if( ViewBag.EmailSentTo != null ) {
        <p class="lead">Please check the inbox of '@ViewBag.EmailSentTo' for a link.</p>
    } else {
        <p class="lead">Please check the inbox of the email used to register.</p>
    }
</div>
<p>
    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>