@model Semplicita.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="jumbotron">
    <h1>Change Your Password</h1>
    <p class="lead">Dont like your passphrase? Feel free to change it!</p>
</div>
<div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
        <div class="card card-purple">
            <div class="card-header">
                <h4 class="card-title">Change Password</h4>
            </div>

            @using( Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }) ) {
                @Html.AntiForgeryToken()

                <div class="card-body">

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <p>Please enter your current account password, followed by your new desired passphrased entered twice.</p>

                    <div class="form-group">
                        <label for="OldPassword">Current Password</label>
                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">New Password</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Password">
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-right">Change Password</button>
                </div>
            }
        </div>

    </div>
    <div class="col-xl-1"></div>
</div>
