/*Login & Registraion pages*/
.login-page, .register-page {
    background-color: #211D28;
}
.login-logo-image {
    width: 58px;
    vertical-align: middle;
}

.login-logo {
    padding-bottom:15px;
}
    .login-logo a {
        color:white;
        font-size:60px;
        vertical-align: middle;
    }

.login-card-body, .register-card-body {
    background:#F0F0F0
}


/*Side NavBar Elements*/
.ui-menu-divider {
    margin-top:-10px;
    margin-bottom:20px;
    background-color:rgba(87, 0, 193, 0.12);
}
.nav-sep-bottom {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.nav-sep-top {
    border-top: 1px solid #dee2e6;
    padding-top: 5px;
    margin-top: 10px;
}
.user-panel .image {
    margin-top:.3rem;
    vertical-align: middle;
    padding-right: .8rem;
}
.brand-link .brand-image {
    margin-left: 0;
}
.brand-image {
    box-shadow: none !important;
    height: 100%;
    width: 100%;

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.27));
}
.brand-text {
    font-size: 1.38rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.19);
    color: rebeccapurple;
    font-weight: bolder;
}
.brand-tagline {
    font-size: .8rem;
    font-style: italic;
    text-shadow: none !important;
    font-weight: lighter;
    float: right;
    margin-top: .58rem;
}

/*Form Elements*/
.radio-success.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #5FCF5F;
    background-color: #015a00;
    box-shadow: 0px 0px 5px #B7FFA7;
}
.radio-warning.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #91951D;
    background-color: #FFD900;
    box-shadow: 0px 0px 3px #FFD900;
}
.radio-danger.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #CB0801;
}

.form-control-xl {
    height: calc(3.875rem + 4px);
    padding: .5rem 1rem;
    font-size: 1.6rem;
    line-height: 1.55rem;
    border-radius: .3rem;
}


/*Body Display elements*/
.content-wrapper {
    padding-top: 10px;
    color: black;
}
    .content-wrapper .jumbotron {
        color: white;
        background-color: #393144
    }
.container-fluid {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.select2-selection select2-selection--single, select2-selection__arrow {
    height: 38px;
}
.callout {
    background-color: rgba(255, 255, 255, 0.85);
}
.full-width {
    width: 100% !important;
}
.timeline > div > .timeline-item > .timeline-body {
    background-color: rgba(210, 218, 218, 0.18);
}
.timeline > div > .timeline-item {
    box-shadow: 2px 2px 5px rgba(60, 45, 88, 0.45);
    margin-bottom: 12px;
}
.timeline > .time-label {
    margin-top:20px;
}

.card-header-icon {
    margin-right: 10px;
}

.border-bottom-thicker {
    border-bottom: 1.5px solid #dee2e6 !important;
}

/* Ticket Stuff */
.no-solver-warning {
    color: rgb(234, 134, 3);
    text-shadow: 1px 1px 3px rgba(130, 130, 130, 0.20) !important;
    text-decoration: underline;
}
.ticket-title {
    padding-top: .3rem;
}
.product-list-in-card > .item {
    background-color: rgba(0, 0, 0, 0);
}

/* ReadMore Buttons */
.badge {
    font-weight: normal;
    margin-left: 3px;
    margin: 3.5px;
}
.badge-blue {
    background-color: #3a40a8;
    color:white;
}
.badge-sm {
    font-size: 11px !important;
}

/* Dropdown Effect */
.show > .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: .4s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes slidenavAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Dropdown Spacing */
.dropdown-menu > a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

/*Footer*/
.main-footer {
    color: black;
    background-color: #B2B0B7;
}


/*Jumbotron*/
@media (min-width: 576px) {
    .jumbotron-skinny {
        padding: 1.5rem 2rem;
    }
}
.bg-green {
    background-color: green !important;
}
.bg-gradient-h-green {
    color: white;
    background: rgb(21,121,26);
    background: -moz-linear-gradient(90deg, rgba(21,121,26,1) 0%, rgba(39,179,26,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(21,121,26,1) 0%, rgba(39,179,26,1) 100%);
    background: linear-gradient(90deg, rgba(21,121,26,1) 0%, rgba(39,179,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15791a",endColorstr="#27b31a",GradientType=1);
}
.bg-gradient-green {
    color: white !important;
    background: rgb(14,136,21) !important;
    background: -moz-linear-gradient(0deg, rgba(14,136,21,1) 0%, rgba(17,148,43,1) 100%) !important;
    background: -webkit-linear-gradient(0deg, rgba(14,136,21,1) 0%, rgba(17,148,43,1) 100%) !important;
    background: linear-gradient(0deg, rgba(14,136,21,1) 0%, rgba(17,148,43,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e8815",endColorstr="#11942b",GradientType=1) !important;
}
.bg-gradient-darkgreen {
    color: white !important;
    background: rgb(1,79,5);
    background: -moz-linear-gradient(0deg, rgba(1,79,5,1) 0%, rgba(8,94,25,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(1,79,5,1) 0%, rgba(8,94,25,1) 100%);
    background: linear-gradient(0deg, rgba(1,79,5,1) 0%, rgba(8,94,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#014f05",endColorstr="#085e19",GradientType=1);
}
.bg-gradient-navy {
    background: rgb(2,0,40);
    background: -moz-linear-gradient(0deg, rgba(2,0,40,1) 0%, rgba(23,48,82,1) 19%, rgba(0,4,51,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2,0,40,1) 0%, rgba(23,48,82,1) 19%, rgba(0,4,51,1) 100%);
    background: linear-gradient(0deg, rgba(2,0,40,1) 0%, rgba(23,48,82,1) 19%, rgba(0,4,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020028",endColorstr="#000433",GradientType=1);
}
.bg-gradient-h-blue {
    color:white;
    background: rgb(19,46,195);
    background: -moz-linear-gradient(11deg, rgba(19,46,195,1) 0%, rgba(1,125,205,1) 80%);
    background: -webkit-linear-gradient(11deg, rgba(19,46,195,1) 0%, rgba(1,125,205,1) 80%);
    background: linear-gradient(11deg, rgba(19,46,195,1) 0%, rgba(1,125,205,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#132ec3",endColorstr="#017dcd",GradientType=1);
}
.bg-gradient-dkpurple {
    background: rgb(12,0,57);
    background: -moz-linear-gradient(0deg, rgba(12,0,57,1) 0%, rgba(38,9,84,1) 16%, rgba(18,0,51,1) 91%);
    background: -webkit-linear-gradient(0deg, rgba(12,0,57,1) 0%, rgba(38,9,84,1) 16%, rgba(18,0,51,1) 91%);
    background: linear-gradient(0deg, rgba(12,0,57,1) 0%, rgba(38,9,84,1) 16%, rgba(18,0,51,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0039",endColorstr="#120033",GradientType=1);
}
.bg-gradient-h-purple {
    background: rgb(67,0,102);
    background: -moz-linear-gradient(11deg, rgba(67,0,102,1) 0%, rgba(83,0,190,1) 100%);
    background: -webkit-linear-gradient(11deg, rgba(67,0,102,1) 0%, rgba(83,0,190,1) 100%);
    background: linear-gradient(11deg, rgba(67,0,102,1) 0%, rgba(83,0,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#430066",endColorstr="#5300be",GradientType=1);
}
.bg-gradient-purple {
    background: rgb(55,1,83);
    background: -moz-linear-gradient(0deg, rgba(55,1,83,1) 0%, rgba(94,38,166,1) 36%, rgba(154,46,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(55,1,83,1) 0%, rgba(94,38,166,1) 36%, rgba(154,46,255,1) 100%);
    background: linear-gradient(0deg, rgba(55,1,83,1) 0%, rgba(94,38,166,1) 36%, rgba(154,46,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#370153",endColorstr="#9a2eff",GradientType=1);
}
.bg-gradient-yellow {
    color: black !important;
    background: rgb(245,249,22) !important;
    background: -moz-linear-gradient(180deg, rgba(245,249,22,1) 0%, rgba(215,195,21,1) 100%) !important;
    background: -webkit-linear-gradient(180deg, rgba(245,249,22,1) 0%, rgba(215,195,21,1) 100%) !important;
    background: linear-gradient(180deg, rgba(245,249,22,1) 0%, rgba(215,195,21,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f916",endColorstr="#d7c315",GradientType=1) !important;
}
.bg-gradient-h-yellow {
    color: black !important;
    background: rgb(240,239,21) !important;
    background: -moz-linear-gradient(90deg, rgba(240,239,21,1) 0%, rgba(231,188,21,1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(240,239,21,1) 0%, rgba(231,188,21,1) 100%) !important;
    background: linear-gradient(90deg, rgba(240,239,21,1) 0%, rgba(231,188,21,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ef15",endColorstr="#e7bc15",GradientType=1) !important;
}
.bg-gradient-orange {
    color: white !important;
    background: rgb(249,113,22) !important;
    background: -moz-linear-gradient(55deg, rgba(249,113,22,1) 0%, rgba(215,157,21,1) 100%) !important;
    background: -webkit-linear-gradient(55deg, rgba(249,113,22,1) 0%, rgba(215,157,21,1) 100%) !important;
    background: linear-gradient(55deg, rgba(249,113,22,1) 0%, rgba(215,157,21,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f97116",endColorstr="#d79d15",GradientType=1) !important;
}
.bg-gradient-darkorange {
    color:white !important;
    background: rgb(175,82,19) !important;
    background: -moz-linear-gradient(0deg, rgba(175,82,19,1) 0%, rgba(159,119,24,1) 90%, rgba(139,101,11,1) 100%) !important;
    background: -webkit-linear-gradient(0deg, rgba(175,82,19,1) 0%, rgba(159,119,24,1) 90%, rgba(139,101,11,1) 100%) !important;
    background: linear-gradient(0deg, rgba(175,82,19,1) 0%, rgba(159,119,24,1) 90%, rgba(139,101,11,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af5213",endColorstr="#8b650b",GradientType=1) !important;
}