/*Login & Registraion pages*/
.login-page, .register-page {
    background-color: #211D28;
}
.login-logo-image {
    width: 58px;
    vertical-align: middle;
}

.login-logo {
    padding-bottom:15px;
}
    .login-logo a {
        color:white;
        font-size:60px;
        vertical-align: middle;
    }

.login-card-body, .register-card-body {
    background:#F0F0F0
}


/*Side NavBar Elements*/
.ui-menu-divider {
    margin-top:-10px;
    margin-bottom:20px;
    background-color:rgba(87, 0, 193, 0.12);
}
.nav-sep-bottom {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.nav-sep-top {
    border-top: 1px solid #dee2e6;
    padding-top: 5px;
    margin-top: 10px;
}
.sidebar {
    overflow: visible;
}
.user-panel .image {
    margin-top:.3rem;
    vertical-align: middle;
    padding-right: .8rem;
}
.brand-link .brand-image {
    margin-left: 0;
}
.brand-image {
    box-shadow: none !important;
    height: 100%;
    width: 100%;

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.27));
}
.brand-text {
    font-size: 1.38rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.19);
    color: rebeccapurple;
    font-weight: bolder;
}
.brand-tagline {
    font-size: .8rem;
    font-style: italic;
    text-shadow: none !important;
    font-weight: lighter;
    float: right;
    margin-top: .58rem;
}


/*Body Display elements*/
.content-wrapper {
    padding-top: 10px;
    color: black;
}
    .content-wrapper .jumbotron {
        color: white;
        background-color: #393144
    }
.container-fluid {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.select2-selection select2-selection--single, select2-selection__arrow {
    height: 38px;
}
.callout {
    background-color: rgba(255, 255, 255, 0.85);
}

.card-header-icon {
    margin-right: 10px;
}

.radio-success.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #5FCF5F;
    background-color: #015a00;
    box-shadow: 0px 0px 5px #B7FFA7;
}
.radio-warning.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #91951D;
    background-color: #FFD900;
    box-shadow: 0px 0px 3px #FFD900;
}
.radio-danger.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #CB0801;
}

.badge {
    font-weight:normal;
    margin-left:3px;
    margin:3.5px;
}
.badge-blue {
    background-color: #3a40a8;
    color:white;
}
.badge-sm {
    font-size: 11px !important;
}

/* Dropdown Effect */
.show > .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: .4s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes slidenavAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Dropdown Spacing */
.dropdown-menu > a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

/*Footer*/
.main-footer {
    color: black;
    background-color: #B2B0B7;
}


/*Jumbotron*/
@media (min-width: 576px) {
    .jumbotron-skinny {
        padding: 1.5rem 2rem;
    }
}
.bg-green {
    background-color: green !important;
}
.bg-gradient-h-green {
    background: rgb(21,121,26);
    background: -moz-linear-gradient(90deg, rgba(21,121,26,1) 0%, rgba(39,179,26,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(21,121,26,1) 0%, rgba(39,179,26,1) 100%);
    background: linear-gradient(90deg, rgba(21,121,26,1) 0%, rgba(39,179,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15791a",endColorstr="#27b31a",GradientType=1);
}
.bg-gradient-green {
    background: rgb(0,152,8);
    background: -moz-linear-gradient(0deg, rgba(0,152,8,1) 0%, rgba(16,187,0,1) 26%, rgba(12,124,1,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,152,8,1) 0%, rgba(16,187,0,1) 26%, rgba(12,124,1,1) 100%);
    background: linear-gradient(0deg, rgba(0,152,8,1) 0%, rgba(16,187,0,1) 26%, rgba(12,124,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009808",endColorstr="#0c7c01",GradientType=1);
}
.bg-darkgreen {
    background: rgb(2,57,0);
    background: -moz-linear-gradient(0deg, rgba(2,57,0,1) 0%, rgba(23,82,28,1) 20%, rgba(0,51,10,1) 83%);
    background: -webkit-linear-gradient(0deg, rgba(2,57,0,1) 0%, rgba(23,82,28,1) 20%, rgba(0,51,10,1) 83%);
    background: linear-gradient(0deg, rgba(2,57,0,1) 0%, rgba(23,82,28,1) 20%, rgba(0,51,10,1) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#023900",endColorstr="#00330a",GradientType=1);
}
.bg-navy {
    background: rgb(2,0,40);
    background: -moz-linear-gradient(0deg, rgba(2,0,40,1) 0%, rgba(23,48,82,1) 19%, rgba(0,4,51,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2,0,40,1) 0%, rgba(23,48,82,1) 19%, rgba(0,4,51,1) 100%);
    background: linear-gradient(0deg, rgba(2,0,40,1) 0%, rgba(23,48,82,1) 19%, rgba(0,4,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020028",endColorstr="#000433",GradientType=1);
}
.bg-gradient-h-blue {
    background: rgb(19,46,195);
    background: -moz-linear-gradient(11deg, rgba(19,46,195,1) 0%, rgba(1,125,205,1) 80%);
    background: -webkit-linear-gradient(11deg, rgba(19,46,195,1) 0%, rgba(1,125,205,1) 80%);
    background: linear-gradient(11deg, rgba(19,46,195,1) 0%, rgba(1,125,205,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#132ec3",endColorstr="#017dcd",GradientType=1);
}
.bg-gradient-dkpurple {
    background: rgb(12,0,57);
    background: -moz-linear-gradient(0deg, rgba(12,0,57,1) 0%, rgba(38,9,84,1) 16%, rgba(18,0,51,1) 91%);
    background: -webkit-linear-gradient(0deg, rgba(12,0,57,1) 0%, rgba(38,9,84,1) 16%, rgba(18,0,51,1) 91%);
    background: linear-gradient(0deg, rgba(12,0,57,1) 0%, rgba(38,9,84,1) 16%, rgba(18,0,51,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0039",endColorstr="#120033",GradientType=1);
}
.bg-gradient-h-purple {
    background: rgb(67,0,102);
    background: -moz-linear-gradient(11deg, rgba(67,0,102,1) 0%, rgba(83,0,190,1) 100%);
    background: -webkit-linear-gradient(11deg, rgba(67,0,102,1) 0%, rgba(83,0,190,1) 100%);
    background: linear-gradient(11deg, rgba(67,0,102,1) 0%, rgba(83,0,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#430066",endColorstr="#5300be",GradientType=1);
}
.bg-gradient-purple {
    background: rgb(55,1,83);
    background: -moz-linear-gradient(0deg, rgba(55,1,83,1) 0%, rgba(94,38,166,1) 36%, rgba(154,46,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(55,1,83,1) 0%, rgba(94,38,166,1) 36%, rgba(154,46,255,1) 100%);
    background: linear-gradient(0deg, rgba(55,1,83,1) 0%, rgba(94,38,166,1) 36%, rgba(154,46,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#370153",endColorstr="#9a2eff",GradientType=1);
}
